[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
requests = "*"
wg-utilities = {extras = ["exceptions"], version = "*"}
paho-mqtt = "*"
python-dotenv = "*"

[dev-packages]
black = "*"
pre-commit = "*"
mypy = "*"
rgbmatrixemulator = "*"

[requires]
python_version = "3.10"
