[Unit]
Description=LED Matrix Display Service
After=multi-user.target
StartLimitBurst=10
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
ExecStart=/usr/bin/sudo /home/pi/led-matrix-now-playing/.venv/bin/python /home/pi/led-matrix-now-playing/src/application/controller/rgb_led_matrix.py
EnvironmentFile=/home/pi/led-matrix-now-playing/.env

[Install]
WantedBy=multi-user.target
